<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root">
			{{{navigation}}} 
			{{{menu}}}
			<div class="container">
				<div class="my-barcode">
					<div class="container text-center">
						<svg class="my-barcode-svg" id="barcode"></svg>
					</div> 
				</div>
				<img class="pp-scan-code" src="/img/pp-scan-code.png">
			</div>
		</div>
		{{{scripts}}}
	</body>
</html>