<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div>
                    <h4>Dieses Seite befindet sich noch im Aufbau!</h4>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
        {{{scripts}}}
	</body>
</html>
