<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div class="cardregister-form">
                    <h4>Ungültiger Link</h4>
                    <div class="cardregister-top">
                        <div class="pp-card card-shadow">
                            <div class="card-top">
                                <p>Der von Dir angeklickte Link ist nicht mehr gültig.</p><p>Klicke auf den folgenden Link, um den Prozess erneut zu starten. Anschließend erhälst Du eine Mail mit einem neuen Bestätigungslink.</p>
                                <a href="./forgot">Erneut senden</a>
                            </div>
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
        {{{scripts}}}
	</body>
</html>
