<!DOCTYPE html>
<html class="home" lang="de">
	<head>
		<meta charset="utf-8">

		<meta name="robots" content="index, follow">
		<meta name="description" content="Payperless - der digitale Kassenbon ✓ gegen den Papierwahn durch die Kassenbonpflicht | eBon ✓ | digitaler Kassenzettel ✓ | Kassenbon App ✓">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=5">

		<!--<link rel="manifest" href="manifest.json">-->
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-32x32.png">
		<!-- Place favicon.ico in the root directory -->
		<!-- Add link rel manifest -->
		<link rel="manifest" href="/manifest.json">
		<!-- Add iOS meta tags and icons -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Payperless PWA">
		<link rel="apple-touch-icon" href="/img/icons/icon-152x152.png">
		<link rel="canonical" href="https://payper-less.com/"/>
	
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/fontawesome.min.css">
		<link rel="stylesheet" href="/css/all.min.css">    
		<link rel="stylesheet" href="/css/flipclock.min.css"> 
		<link rel="stylesheet" href="/css/style.min.css"> 
		<link rel="prefetch" href="/index.html">

		<meta name="theme-color" content="#232C3B">  

		<title>Payperless - Digitaler Kassenbon | eBon | Digitaler Kassenzettel</title>
	</head>
	<body>
		<div class="root">
			{{{navigation}}} 
			{{{menu}}}
			<noscript>JavaScript is required to use this page!</noscript>
			<div class="pp-header">
				<div class="container">
					<div class="pp-header-wrapper">
						<h2 class="pp-headline-light">Der digitale Kassenbon.<br><!--Einkaufen & dabei<br>Bäume pflanzen?-->
							<!--<small style="font-size: 50% !important;" class="text-muted">Einkaufen & dabei Bäume pflanzen</small>-->
						</h2>
						<a href="./register" target="_blank" class="pp-btn">Jetzt registrieren</a><br>
						<small class="mt-2 d-inline-block reghint">Nach der Registration erhältst Du einen<br><a href="#how-it-works">digitalen Payperless Barcode</a> und kannst sofort loslegen.</small>
					</div>
				</div>
				<div class="pp-gradient-bottom"></div>
			</div>
			<section id="use-payperless">
				<div class="container">
					<h2>Du willst Payperless nutzen?</h2>
					<div class="text-container">
						<p class="pp-text-dark mb-0">Bis jetzt kann man Payperless noch nicht in den Geschäften nutzen. Damit Payperless bald zum Einkaufsalltag dazugehört, brauchen wir Deine Unterstützung. Hinterlasse dazu einfach Deine E-Mail-Adresse.</p>
						<span style="display: none;">ebon, e-bon, eBons, ebons, Kassenzettel, Digitaler Kassenzettel, Kassenzettel digital, digitaler Bon, bonpfilcht digital, Digitalisierung Kassenbon</span>
					</div>
				</div>
			</section>
			<section id="support-payperless">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="support">
								<h4>So viele Menschen unterstützen Payperless bereits:</h4>
								<i class="fas fa-hands-helping"></i>
								<span id="support-counter">0</span>
							</div>
							<div class="share">
								<h4>Teile Dein Interesse:</h4>
								<ul class="list-inline socials">
									<li class="list-inline-item">
										<a href="https://www.facebook.com/Payperless-106179730919724/" class="mr-2" title="Payperless Facebook" target="_blank">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a href="https://twitter.com/Payperless2" class="mr-2" title="Payperless Twitter" target="_blank">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li class="list-inline-item">
										<a href="https://www.instagram.com/payperless_com/" title="Payperless Instagram" target="_blank">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 text-left support-wrapper">
							<h4 class="pp-text-primary">Trage Dich hier ein & zeige uns damit Dein Interesse:</h4>
							<input type="email" class="pp-input input-dark" id="support-email" placeholder="E-Mail-Adresse *">
							<label class="checkbox-mask-wrapper" for="dsgvo-checkbox">
								<input type="checkbox" id="dsgvo-checkbox">
								<span class="checkbox-mask"></span>
								<span>Ich habe die <a href="./privacy">Datenschutzbestimmung</a> gelesen.</span>
							</label>
							<label class="checkbox-mask-wrapper" for="support-checkbox">
								<input type="checkbox" id="support-checkbox">
								<span class="checkbox-mask"></span>
								<span>Benachrichtigt mich sobald Payperless verfügbar ist!</span>
							</label>
							<input type="button" id="support-submit" class="pp-btn" value="Unterstützen" disabled>
						</div>
					</div>
				</div>
			</section>
			<section id="how-it-works">
				<div class="container">
					<h2>So funktioniert's</h2>
					<div class="text-container">
						<p class="pp-text-dark">Einfach an der Kasse die kostenlose <strong class="prompt-app-download">Payperless App</strong> oder Karte mit dem Code abscannen und den Beleg per Mail oder auf die App erhalten. Zum Aktivieren der <b>Payperless-Funktion</b> brauchst Du lediglich Deine E-Mail-Adresse angeben.</p>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6 fit-height flex-column justify-content-between d-flex">
							<img src="/img/pp-app.png" class="pp-app-img" alt="Payperless App">
							<a href="./register" target="_blank" class="pp-btn">Digitale Karte</a>
						</div>
						<div class="col-12 col-sm-6 fit-height flex-column justify-content-between d-flex">
							<img src="/img/pp-card.png" class="pp-card-img card-shadow" alt="Payperless Karte">
							<div class="pp-card-text-wrapper">
								<p><b>Du hast bereits eine Karte?</b></p>
								<p class="pp-text-dark">Trage Deine Kartennummer <a target="_blank" href="./registercard">hier</a> ein & erhalte Kassenbons ab sofort per Mail.</p>	
							</div>
							<a href="./registercard" target="_blank" class="pp-btn">Karte aktivieren</a>
						</div> 
					</div>
				</div> 
			</section>
			<section id="advantages">
				<div class="container">
					<h2>Vorteile</h2>
					<div class="row">
						<div class="col-12 col-sm-6">
							<img src="/img/pp-advantages.png" class="pp-advantages-img" alt="Vorteile mit Payperless">
						</div>
						<div class="col-12 col-sm-6">
							<ul>
								<li><i class="fal fa-check-circle"></i><span>Schnell & einfach Einkäufe zurückverfolgen</span></li>
								<li><i class="fal fa-check-circle"></i><span>Für jeden 1000sten Kassenbon über <b>Payperless</b> wird ein Baum gepflanzt</span></li>
								<li><i class="fal fa-check-circle"></i><span>Papiereinsparung zur Erhaltung der Wälder</span></li>
								<li><i class="fal fa-check-circle"></i><span>100 % Datensicherheit</span></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!--<section id="plant-trees">
				<div class="container">
					<h2>Baumzähler</h2>
					<div class="row">
						<div class="col-12">
							<img src="/img/pp-tree-count.png" class="pp-tree-img" alt="1 Baum entspricht 1000 Kassenbons">
						</div>
						<div class="col-12">
							<div class="text-container">
								<p><b>Aus einer Fichte (3200 kg) lassen sich nur 670kg Papier erzeugen.<br>3/4 der Fichte werden dabei verschwendet.</b></p>
								<p class="pp-text-dark"><b>Payperless</b> pflanzt einen Baum für jeden 1000sten Beleg & verhindert damit, dass noch weitere Bäume unnötig gefällt werden.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="tree-counter">
				<div class="container">
					<h4>So viele Bäume wurden bereits durch Payperless gepflanzt:</h4>
					<div class="tree-counter-flipclock"></div>	
					<a href="#how-it-works" class="pp-btn">Jetzt Bäume pflanzen</a>	
				</div>
				<div class="pp-gradient"></div>
			</section>-->
			<section id="partner">
				<div class="container">
					<h2>Partner</h2>
					<p class="pp-text-dark">In folgenden Geschäften kannst Du <b>Payperless</b> bereits nutzen:</p>
					<div class="row">
						<!--
						<div class="col-4 col-sm-2">
							<img src="/img/pp-partner-fallback.png" alt="Rewe Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="/img/pp-partner-fallback.png" alt="Aldi Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="/img/pp-partner-fallback.png" alt="Edeka Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="/img/pp-partner-fallback.png" alt="Lidl Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="/img/pp-partner-fallback.png" alt="Penny Partner">
						</div>
						-->
						<div class="col-12 text-center">
							<a class="pp-become-partner-link" href="/contact">
								<div class="pp-become-partner">
									<i class="fas fa-store"></i>
									<b>Werde Partner</b>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section id="faq"> 
				<div class="container">
					<h2>FAQ</h2>
					<div id="accordion">
						<div class="card"> 
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Wie kann ich <b>Payperless</b> nutzen & welche Daten muss ich angeben?
									<i class="fas fa-chevron-down"></i>
								</button> 
								</h5>
							</div>					  
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									Du kannst <b>Payperless</b> über die kostenlose App oder mit der Karte verwenden.<br>
									Scanne einfach an der Kasse nach dem Bezahlen den Barcode von Deiner App oder Karte ab und Du erhälst den Kassenbon direkt per Mail oder auf Deine App.<br><br>
									Zur Nutzung der Karte brauchst Du nur Deine E-Mail-Adresse angeben. Du erhälst dann Deine Belege per Mail. Für die App benötigst Du neben Deiner E-Mail-Adresse nur ein Passwort, damit Deine Belge auch nur für Dich einsehbar bleiben.<br><br>
									Personenbezogene Daten wie Name, Alter oder Wohnort werden nicht erhoben.  
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								  Welche Vorteile habe ich davon?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							  	<div class="card-body">
									Alle <a href="#advantages">Vorteile</a> findest Du oben – direkt über dem Baumzähler.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Wo bekomme ich eine Payperless-Karte & woraus besteht sie?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									<b>Payperless-Karten</b> findest Du kostenlos an jeder Kasse in den oben aufgeführten <a href="#partner">Geschäften</a>.<br><br>
									Die <b>Payperless-Karten</b> bestehen aus recyceltem Papier und werden unter Beachtung klimaneutraler Herstellunsprozesse gedruckt. So können wir sichergehen, dass nicht noch weitere Bäume unnötig gefällt werden und verwerten damit nur bereits bestehende Papierrestbestände.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								  Wie kann ich die Payperless-App herunterladen?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								 <div class="card-body">
									Du findest die kostenlose <b>Payperless-App</b> <b class="prompt-app-download">hier</b> zum Download.
								</div>
							</div>
						</div>
						<!--
						<div class="card">
							<div class="card-header" id="headingFive">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									Wo werden die Bäume gepflanzt?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
								 <div class="card-body">
									Payperless pflanzt die Bäume in 12345 Frankfurt XX-Str 99. <a href="#">Hier</a> kannst Du Dir den Standort ansehen.
								</div>
							</div>
						</div>
						-->
					</div>
				</div>
			</section>
			{{{footer}}}  
		</div>
		<script src="/js/jquery.min.js"></script> 
		<script src="/js/validator.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/flipclock.min.js"></script>
		<script src="/js/workbox-sw.js"></script>
		<script id="recaptchaScript" src="https://www.google.com/recaptcha/api.js?render=6LcRYMwUAAAAADpsnmTkt8eKvr6IbCuHsk-JIPdT"></script>
		<script src="/js/jsbarcode.min.js"></script> 
		<!--<script src="/js/waypoint.min.js"></script>
		<script src="/js/counterup.min.js"></script>-->
		<script src="/js/custom.js"></script>  
	</body>
</html>