<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div class="cardregister-form">
                    <h4>Anmelden</h4>
                    <div class="cardregister-top">
                        <div class="pp-card card-shadow">
                            <div class="card-top">
								<p class="">Bitte gib deine E-Mail-Adresse und dein Passwort ein. Du hast noch keinen Account? <a href="./register">Hier registrieren!</a></p>
                                <input type="email" class="pp-input input-dark" value="{{email}}" id="uemail" placeholder="E-Mail-Adresse">
                                <input type="password" class="pp-input input-dark" id="password" placeholder="Passwort">
                            </div>
                             <div class="card-bottom">
                                <button type="button" class="pp-btn inverted" id="login">
                                    Anmelden
                                </button>
                                
                               <ul class="social-logins list-inline">
                                    <li class="list-inline-item">
                                        <a class="pp-btn-social social-login-google" href="http://ppcms.payper-less.com:1337/connect/google" title="Login mit Google">
                                           <img class="img-fluid" src="/img/btn_google_signin_dark_normal_web@2x.png">
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="pp-btn-social">
                                           <!-- <img class="img-fluid" src="/img/btn_google_signin_dark_normal_web@2x.png"> -->
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
        {{{scripts}}}
	</body>
</html>