<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root"> 
            {{{navigation}}} 
            {{{menu}}}
			<div class="container">
				<div class="cardregister-form">
                    <h4>Aktiviere jetzt Deine Payperless Karte.</h4>
                    <div class="cardregister-top">
                        <div class="pp-card card-shadow">
                            <div class="pp-brand">
                                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
                            </div>
                            <div class="card-middle">
                                <img alt="Kartennummer Platzhalter" src="/img/barcodeexample.png" id="barcode">
                                <input type="text" class="pp-input" id="cardnumber" maxlength="9" placeholder="Kartennummer">
                                <input type="button" class="pp-input-btn" style="display: none;" id="confirmNumber"value="OK">
                            </div>
                            <div class="card-bottom">
                                <p class="pp-card-hint"><label for="cardnumber">Bitte gebe hier Deine Kartennumer ein.</label></p>
                                <!--<img src="../img/exampleqr.png" id="qrcode">-->
                            </div>
                        </div>
                    </div>
                    {{{simpleFooter}}}
                </div>
            </div>
        </div>
        {{{scripts}}}
	</body>
</html>
