nav { height: 60px;
	&.navbar { z-index: 2; position: fixed; padding: 0 !important; background: transparent !important; left: 0; right: 0; top: 0;
		.navbar-brand { padding: .5rem 0 !important; 
			&:hover, &:focus { box-shadow: none !important; }
		}
		.container { display: flex; height: 100%; justify-content: flex-start;
			> .row {
				> .col-xl-8 { display: flex; justify-content: space-between; align-items: center; }
			}
		}
		.pp-nav-link {
			display: block;
			padding: 1rem 0;
		}
		a { font-family: 'Ubuntu'; font-weight: 600;
			&:hover, &:focus { color: $primary; text-decoration: none; }
		}
		&.scrolled {
			background: $gray !important;
			//box-shadow: 0 2px 0 0 rgba(0,0,0,1);
			box-shadow: 0 1px 15px darken($dark, 5%);
		}
	}
	.navbar-brand { padding: .5rem 0 !important;
		img { width: 140px; height: auto; } 
	}
	.navbar-toggler { border: none !important; outline: none !important; padding: 0; transform: translateY(-2px); }
} 

html {
	&.login, &.cardregister, &.register {
		.navbar { box-shadow: 0 2px 0 0 rgba(0,0,0,.25); background: $gray !important; }
	}
}

/* Sidemenu */

.root {
	button[class*="navbar-toggler"] { border: 0; background: transparent; outline: none; transition: transform .3s; }
	.navbar-toggler-page { height: 24px; padding-left: 0; }
	nav.navbar { z-index: 2; opacity: 1; transition: .3s; 
		> .container > * {
			transition: transform .3s;
			opacity: 1;
			transform: translateX(0);
			transition: .3s;
		}
		.profile-link { margin-left: auto;
			
			.fa-user-circle { font-size: 40px; --fa-primary-color: #63E789; --fa-secondary-color: #232C3B; --fa-secondary-opacity: 1.0;
				&:hover, &:focus {
					--fa-primary-color: #37e068; 
				}
			}
			/*.fa-stack { align-items: center;display: flex;justify-content: center;
				.fa-circle { color: $dark; font-size: 40px; }
				.fa-user-circle { color: $primary; font-size: 28px; }
				&:hover, &:focus {
					.fa-user-circle { color: darken($primary, 10%) !important; }
				}
			}*/

			&:hover, &:focus { box-shadow: none; text-decoration: none; }
		}
	}
	> .side-menu {
		z-index: 2;
		transition: transform .3s;
		position: fixed;
		top: 0;
		bottom: 0;
		transform: translateX(-100%);
		background: $gray;
		> .side-menu-content {
			position: relative;
			height: 100%;
			width: 100%;
			> .navbar-brand-holder { height: 60px; align-items: center; margin-bottom: 3rem; padding-left: 15px;
				.navbar-brand { display: inline-block;
					&:hover, &:focus { box-shadow: none; text-decoration: none; }
					> img { width: 140px; height: auto; }
				}
			}
			.navbar-toggler-side { position: absolute; top: 18px; right: 15px; outline: none !important; }
			.main-menu { padding: 0; list-style: none; 
				> li { box-shadow: inset 0 -1px 0 0 #232C3B; }
				a { white-space: nowrap; color: $text-dark; display: block; padding: 20px 15px; font-weight: 400; text-transform: uppercase; font-size: 1.25rem; font-family: "Ubuntu";
					&:hover, &:focus { text-decoration: none; box-shadow: none; cursor: pointer; color: $primary; background: $dark; 
						i { color: $primary !important; }
					} 
					> i { color: $text-dark; width: 25px; margin-right: 5px; text-align: center; display: inline-block; vertical-align: -1px; }
				}
			}
			.legals { position: absolute; bottom: 0; left: 0; right: 0; margin: 0 15px; margin-bottom: 15px;
				a { &:hover, &:focus { color: $primary !important; text-decoration: none; box-shadow: none; cursor: pointer; } }
			}
		}
	}
	.side-menu-overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; }
	&.nav-show {
		nav.navbar {  z-index: 0 !important; opacity: 0;
			> .container > * {
				opacity: 0;
				transform: translateX(-200%);
			}
		}
		> .side-menu {
			transform: translateX(0);
			//box-shadow: 2px 0 3px 0 rgba($gray, .25);
			box-shadow: 1px 0 4px -1px rgba(0,0,0,.8);
		}
		.side-menu-overlay { display: block; z-index: 1; }
	}
}

/* Regristration */
 
.registration {
	nav {
		.reg-link { display: none; }
		+ .container {  min-height: 100vh; display: flex; justify-content: center; align-items: center; 
			.registration-wrap { transform: translateY(-20px); text-align: center; color: $gray-light; } 
		}
	}
}

.cardregister {
	//nav { display: none; }
}
  
/* Breakpoints */

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 1199px) {
	.root {
		> .side-menu { width: 35%; }
	}
}

@media (max-width: 991px) {
	.root {
		> .side-menu { width: 45%; }
	}
}

@media (max-width: 991px) and (min-width: 768px) {

}

@media (min-width: 768px) { 

}

@media (max-width: 767px) {

}

@media (max-width: 767px) and (min-width: 576px) {

}

@media (max-width: 575px) {
	nav.navbar {
		.navbar-brand {
			> img { width: 120px; } 
		}
	}
	.root {
		> .side-menu { width: 75%; 
			> .side-menu-content {
				> .navbar-brand-holder { margin-bottom: 2.5rem; 
					.navbar-brand {
						> img { width: 120px; }
					}
				}
				.main-menu {
					> li {
						a { padding: 15px; font-size: 1.175rem; }
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {

} 

@media (min-width: 1200px) {
	.root {
		> .side-menu {
			width: 330px;
		}
	}
	.navbar-brand { 
		img {}  
	} 
} 
