<div class="cardregister-form">
    <h4>Bereits verwendete Karte verknüpfen.</h4>
    <div class="cardregister-top">
        <div class="pp-card card-shadow">
            <div class="card-top">
                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
            </div>
            <div class="card-middle">
                <p class="your-cardnumber text-muted mt-0"><small>{{yourCardnumber}}<strong>{{cardnumber}}</strong></small></p>
                <p class="mb-0">Die angegebene Kartennummer ist bereits mit einer E-Mail verknüpft. Um die E-Mail Adresse ändern zu können, müssen Sie vorerst einen <strong>Account anlegen</strong>.</strong><br><br><strong class="text-danger">Wichtig!</strong><br>Sie müssen die mit der Karte bereits verknüpfte E-Mail Adresse bei der Registierung angeben!</p>
            </div>
            <div class="card-bottom">
                <a class="pp-btn" href="./register">Account anlegen</a>
				<p class="text-muted mt-3 mb-0"><small><a href="./registercard">Andere Kartennummer verwenden</a></small></p>
            </div>
        </div>
    </div>
    {{{simpleFooter}}}
</div>