<div class="cardregister-form step-3">
    <h4>Fast geschafft!</h4>
    <div class="cardregister-top">
        <div class="pp-card card-shadow">
            <div class="card-top">
                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
            </div>
            <div class="card-middle">
                <p class="your-cardnumber text-muted"><small>{{yourCardnumber}}<strong>{{cardnumber}}</strong></small></p>
                <p class="pp-card-hint mb-0">Wir haben eine E-Mail an <strong>{{customerEmail}}</strong> mit einem Bestätigungslink gesendet! Bitte bestätigen Sie den Link, damit sichergestellt werden kann, dass die Payperless E-Mails auch bei Ihnen ankommen.</p>
 
            </div>
            <!--<div class="card-bottom">
                <a href="/register?email={{customerEmail}}" class="pp-btn inverted full-width">Account anlegen</a>
                <p class="mt-1 mb-0 text-muted"><small>Anlegen eines Accounts wird nicht für die Nutzung der Karte benötigt</small></p>      
            </div>-->
        </div> 
    </div>
    {{{simpleFooter}}}
</div>