<div class="cardregister-form step-2">
    <h4>Geben Sie Ihre E-Mail-Adresse ein.</h4>
    <div class="cardregister-top">
        <div class="pp-card card-shadow">
            <div class="card-top">
                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
            </div>
            <div class="card-middle">
                <p class="your-cardnumber text-muted"><small>{{yourCardnumber}}<strong>{{cardnumber}}</strong></small></p>
                <p>An welche E-Mail-Adresse sollen wir Ihren Kassenbon schicken?</p>
                <input type="email" class="pp-input input-dark input-inset-shadow" id="cmail" placeholder="E-Mail">
            </div>
            <div class="card-bottom">
                <input type="button" class="pp-btn inverted" id="confirmEmail"value="OK">
                <!--<img src="/img/exampleqr.png" id="qrcode">-->
            </div>
        </div>
    </div>
    {{{simpleFooter}}}
</div>