<div class="side-menu menu-default">
	<div class="side-menu-content">
		<div class="navbar-brand-holder d-flex">
			<a class="navbar-brand" href='./'>
				<img src="/img/logo.png" class="pp-logo-img" alt="Payperless Logo">
			</a>
		</div>
		<button class="navbar-toggler-side" type="button">
            <div class="animated-icon2 open"><span></span><span></span><span></span><span></span></div> 
        </button>
		<ul class="mb-0 main-menu">
			<li>
				<a href="./login" class="pp-nav-link">Anmelden</a>
			</li>
			<!--<li>
				<a href="./register" class="pp-nav-link">Registrieren</a>
			</li>-->
			<li>
				<a href="./registercard" class="pp-nav-link">Karte registrieren</a>
			</li>
			<li>
				<a href="/#how-it-works" class="pp-nav-link">So funktioniert's</a>
			</li>
			<li>
				<a href="/#partner" class="pp-nav-link">Partner</a>
			</li>
			<li>
				<a href="/#faq" class="pp-nav-link">FAQ</a>
			</li>
		</ul>  
		<div class="pwa-menu-form">
			<input type="button" style="display: none;" id="pwaprompt-menu" class="pp-btn" value="App installieren">
		</div>
		<ul class="list-inline legals">
			<li class="list-inline-item">
				<small><a href="./contact" class="text-muted">Impressum</a></small>
			</li>
			<li class="list-inline-item">
				<small><a href="./privacy" class="text-muted">Datenschutz</a></small>
			</li>
		</ul>
	</div>
</div>
