<head>
    <meta charset="utf-8">

    <meta name="robots" content="index, follow">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=5">

    <!--<link rel="manifest" href="manifest.json">-->
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-32x32.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Add link rel manifest -->
    <link rel="manifest" href="/manifest.json">
    <!-- Add iOS meta tags and icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Payperless PWA">
    <link rel="apple-touch-icon" href="/img/icons/icon-152x152.png">
    <link rel="canonical" href="https://payper-less.com/"/>
 
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/all.min.css">    
    <link rel="stylesheet" href="/css/style.min.css"> 
    <link rel="prefetch" href="/index.html">
    <!--<link rel="prefetch" href="{{offlineSvg}}"></link>-->

    <meta name="theme-color" content="#232C3B">  

    <title>Payperless{{title}}</title>
</head>