<div class="side-menu menu-loggedin">
	<div class="side-menu-content">
		<div class="navbar-brand-holder d-flex">
			<a class="navbar-brand" href='./'>
				<img src="/img/logo.png" class="pp-logo-img" alt="Payperless Logo">
			</a>
		</div>
		<button aria-label="Menü schließen" class="navbar-toggler-side" type="button">
            <div class="animated-icon2 open"><span></span><span></span><span></span><span></span></div> 
        </button>
		<ul class="mb-0 main-menu">
			{{{myBarcode}}}
			<li>
				<a href="./receipts" class="pp-nav-link"><i class="fal fa-receipt"></i> Kassenbons</a>
			</li>
			<li>
				<a href="./linkcard" class="pp-nav-link"><i class="fal fa-address-card"></i> Karte verknüpfen</a>
			</li>
			<li>
				<a href="./profile" class="pp-nav-link"><i class="fal fa-user-circle"></i> Profil</a>
			</li>
			<li>
				<small><a href="./logout" class="pp-nav-link"><i class="fal fa-sign-out-alt"></i> Abmelden</a></small>
			</li>
		</ul>  
		<ul class="list-inline legals">
			<li class="list-inline-item">
				<small><a href="./contact">Impressum</a></small>
			</li>
			<li class="list-inline-item">
				<small><a href="./privacy">Datenschutz</a></small>
			</li>
		</ul>
	</div>
</div>
