<nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex">
        <button aria-label="Menü öffnen" class="navbar-toggler-page mr-3">
            <div class="animated-icon2"><span></span><span></span><span></span><span></span></div> 
        </button>
        <a class="navbar-brand" href="./">
            <img src="/img/logo.png" class="pp-logo-img" alt="Payperless Logo">
        </a>
        <a title="Zum Profil navigieren" class="profile-link" href="{{loginaction}}">
            <i class="fad fa-user-circle"></i>
            <!--<span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-user-circle fa-stack-1x fa-inverse"></i>
              </span>-->
        </a> 
    </div>
</nav>