<div class="cardregister-form">
    <h4>Erfolgreich registriert.</h4>
    <div class="cardregister-top">
        <div class="pp-card card-shadow">
            <div class="card-top">
                <a href="./"><img alt="Payperless Logo" src="/img/logo.png" class="pp-logo"></a>
            </div>
            <div class="card-middle">
				<p>Wir haben eine E-Mail an <strong>{{customerEmail}}</strong> mit einem Bestätigungslink gesendet! Bitte bestätigen Sie den Link, damit sichergestellt werden kann, dass die Payperless E-Mails auch bei Ihnen ankommen.</p>
                <p class="mb-0">Sie können sich nun anmelden.</p>
            </div>
            <div class="card-bottom">
                <a class="pp-btn inverted" href="./login">Anmelden</a>
            </div>
        </div>
    </div>
    {{{simpleFooter}}}
</div>