<!DOCTYPE html>
<html class="{{bodyClass}}" lang="{{lang}}">
	{{{header}}}
	<body>
		<div class="root">
			{{{navigation}}} 
			{{{menu}}}
			<noscript>JavaScript is required to use this page!</noscript>
			<div class="pp-header">
				<div class="container">
					<div class="pp-header-wrapper">
						<h2 class="pp-headline-light">Der digitale Kassenbon.<!--Einkaufen & dabei<br>Bäume pflanzen?--></h2>
						<a href="#how-it-works" class="pp-btn">Jetzt mitmachen</a>
					</div>
				</div>
				<div class="pp-gradient-bottom"></div>
			</div>
			<section id="how-it-works">
				<div class="container">
					<h3>So funktioniert's</h3>
					<div class="text-container">
						<p class="pp-text-dark">Einfach an der Kasse die <b>Payperless</b> App oder Karte mit dem Code abscannen und den Beleg per Mail erhalten. Zum Aktivieren der <b>Payperless-Funktion</b> brauchst Du lediglich Deine E-Mail-Adresse angeben.</p>
						<span style="display: none;">ebon, e-bon, eBons, ebons, Kassenzettel, Digitaler Kassenzettel, Kassenzettel digital, digitaler Bon, bonpfilcht digital, Digitalisierung Kassenbon</span>
					</div>
					<div class="row">
						<div class="col-12 col-sm-6 fit-height flex-column justify-content-between d-flex">
							<img src="img/pp-app.png" class="pp-app-img" alt="Payperless App">
							<a href="./register" target="_blank" class="pp-btn">Digitale Karte</a>
						</div>
						<div class="col-12 col-sm-6 fit-height flex-column justify-content-between d-flex">
							<img src="img/pp-card.png" class="pp-card-img" alt="Payperless App">
							<div class="pp-card-text-wrapper">
								<p><b>Du hast bereits eine Karte?</b></p>
								<p class="pp-text-dark">Trage Deine Kartennummer <a target="_blank" href="./registercard">hier</a> ein & erhalte Kassenbons ab sofort per Mail.</p>	
							</div>
							<a href="./registercard" target="_blank" class="pp-btn">Karte aktivieren</a>
						</div> 
					</div>
				</div> 
			</section>
			<section id="advantages">
				<div class="container">
					<h3>Vorteile</h3>
					<div class="row">
						<div class="col-12 col-sm-6">
							<img src="img/pp-advantages.png" class="pp-advantages-img" alt="Vorteile mit Payperless">
						</div>
						<div class="col-12 col-sm-6">
							<ul>
								<li><i class="fal fa-check-circle"></i><span>Schnell & einfach Einkäufe zurückverfolgen</span></li>
								<li><i class="fal fa-check-circle"></i><span>Für jeden 1000sten Kassenbon über <b>Payperless</b> wird ein Baum gepflanzt</span></li>
								<li><i class="fal fa-check-circle"></i><span>Papiereinsparung zur Erhaltung der Wälder</span></li>
								<li><i class="fal fa-check-circle"></i><span>100 % Datensicherheit</span></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="plant-trees">
				<div class="container">
					<h3>Baumzähler</h3>
					<div class="row">
						<div class="col-12">
							<img src="img/pp-tree-count.png" class="pp-tree-img" alt="1 Baum entspricht 1000 Kassenbons">
						</div>
						<div class="col-12">
							<div class="text-container">
								<p><b>1 Baum entspricht ca. 1000 Kassenbons.</b></p>
								<p class="pp-text-dark"><b>Payperless</b> pflanzt einen Baum für jeden 1000sten Beleg in 12345 XX-Stadt und fördert somit Natur und Nachhaltigkeit.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="tree-counter">
				<div class="container">
					<h4>So viele Bäume wurden bereits durch Payperless gepflanzt:</h4>
					<div class="tree-counter-flipclock"></div>	
					<a href="#how-it-works" class="pp-btn">Jetzt Bäume pflanzen</a>	
				</div>
				<div class="pp-gradient"></div>
			</section>
			<section id="partner">
				<div class="container">
					<h3>Partner</h3>
					<p class="pp-text-dark">In folgenden Geschäften kannst Du <b>Payperless</b> bereits nutzen:</p>
					<div class="row">
						<div class="col-4 col-sm-2">
							<img src="img/pp-partner-fallback.png" alt="Rewe Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="img/pp-partner-fallback.png" alt="Aldi Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="img/pp-partner-fallback.png" alt="Edeka Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="img/pp-partner-fallback.png" alt="Lidl Partner">
						</div>
						<div class="col-4 col-sm-2">
							<img src="img/pp-partner-fallback.png" alt="Penny Partner">
						</div>
						<div class="col-4 col-sm-2">
							<a href="#">
								<div class="pp-become-partner">
									<i class="fas fa-store"></i>
									<b>Werde Partner</b>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section id="faq"> 
				<div class="container">
					<h3>FAQ</h3>
					<div id="accordion">
						<div class="card"> 
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Wie kann ich <b>Payperless</b> nutzen & welche Daten muss ich angeben?
									<i class="fas fa-chevron-down"></i>
								</button> 
								</h5>
							</div>					  
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									Du kannst <b>Payperless</b> über die App oder mit der Karte verwenden.<br>
									Scanne einfach an der Kasse nach dem Bezahlen den Barcode von Deiner App oder Karte ab und Du erhälst den Kassenbon direkt per Mail oder auf Deine App.<br><br>
									Zur Nutzung der Karte brauchst Du nur Deine E-Mail-Adresse angeben. Du erhälst dann Deine Belege per Mail. Für die App benötigst Du neben Deiner E-Mail-Adresse nur ein Passwort, damit Deine Belge auch nur für Dich einsehbar bleiben.<br><br>
									Personenbezogene Daten wie Name, Alter oder Wohnort werden nicht erhoben.  
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								  Welche Vorteile habe ich davon?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
							  	<div class="card-body">
									Alle <a href="#advantages">Vorteile</a> findest Du oben – direkt über dem Baumzähler.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								  Wo bekomme ich eine Payperless-Karte & woraus besteht sie?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									<b>Payperless-Karten</b> findest Du an jeder Kasse in den oben aufgeführten <a href="#partner">Geschäften</a>.<br><br>
									Die <b>Payperless-Karten</b> bestehen aus recyceltem Papier und werden unter Beachtung klimaneutraler Herstellunsprozesse gedruckt. So können wir sichergehen, dass nicht noch weitere Bäume unnötig gefällt werden und verwerten damit nur bereits bestehende Papierrestbestände.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								  Wie kann ich die Payperless-App herunterladen?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								 <div class="card-body">
									Du findest die <b>Payperless-App</b> <a href="#">hier</a> zum Download.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFive">
							  <h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									Wo werden die Bäume gepflanzt?
								  <i class="fas fa-chevron-down"></i>
								</button>
							  </h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
								 <div class="card-body">
									Payperless pflanzt die Bäume in 12345 Frankfurt XX-Str 99. <a href="#">Hier</a> kannst Du Dir den Standort ansehen.
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{{{footer}}}  
		</div>

		{{{scripts}}}
	</body>
</html>